<section class='page-section'>
  <div class="titles-container">
    <h2>Nos collaborations</h2>
    <p class="subtitle">Nous travaillons avec des artistes et professionnels passionnés qui partagent notre vision.</p>
  </div>
  <div class="collaborators-container">
    <article>
      <img src="assets/nk-divine.png" alt="NK Divine">
      <p>NK DIVINE</p> 
    </article>
    <article>
      <img src="assets/limonblaze.png" alt="Limonblaze">
      <p>LIMONBLAZE</p> 
    </article>
    <article>
      <img src="assets/glorya-relyques.png" alt="Glorya Reliques">
      <p>GLORYA RELIQUES</p> 
    </article>
    <article>
      <img src="assets/isaac-m.png" alt="Isaac M">
      <p>ISAAC M</p> 
    </article>
    <article>
      <img src="assets/redflow.png" alt="Redflow">
      <p>REDFLOW</p> 
    </article>
    <article>
      <img src="assets/jonathan-gambela.png" alt="Jonathan C. Gambela">
      <p>JONATHAN C. GAMBELA</p> 
    </article>
  </div>
</section>
