.collaborators-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 62px;
  max-width: 920px;
  margin: 0 auto;
  
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    font-family: 'Agrandir Grand Heavy';
    max-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .collaborators-container {
    gap: 32px;
    
    article {
      max-width: 140px;
      font-size: 16px;
       width: calc((100% - 32px) / 2); // 2 items per row, accounting for gap
      
      img {
        max-width: 100%;
        height: auto;
      }
      
      p {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}