<section id="cours" class="page-section">
  <div class="titles-container">
    <h2>Choisi ton style</h2>
    <p class="subtitle">Explore nos différents cours et trouve celui qui te correspond.</p>
  </div>
  <div class="categories-container">
    <img src="assets/hip-hop.webp" alt="Hip-hop avec Nelly">
    <img src="assets/lyrical-jazz.webp" alt="Lyrical Jazz avec Camille">
    <img src="assets/commercial.webp" alt="Commercial avec Ashley">
    <img src="assets/urban-fit.webp" alt="Urban Fit avec Goudjou">
    <img src="assets/afro.webp" alt="Afro avec Soraïa">
  </div>
  <app-button href="https://www.helloasso.com/associations/agape-company" target="_blank" label="Réserver mon cours"></app-button>
</section>
