section {
  min-height: 100svh;
  background: linear-gradient(to bottom, #A6C8EB, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:0 16px;
}

h1 {
  max-width:1200px;
}
