section {
  min-height: 100svh;
  background: linear-gradient(to bottom, #A6C8EB, transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:0 16px;
}

.badge {
  padding: 8px 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50px;
  font-weight: 500;
  margin:0;
  font-size:14px;
}

h1 {
  max-width:1200px;
}
