@import '../../../../shared/styles/design-system';



.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    gap: 32px;
  }
}

.testimonial-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px 24px;
  border-radius: 10px;
  background: white;
  max-width:400px;

  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    background: #ddd;
  }

  .quote {
    margin: 0;
    line-height: 1.6;
    font-style: italic;
  }

  .author {
    margin: 0;
    font-weight: 600;
    color: $dark;
  }
}
