body {
  margin: 0;
  padding: 0;
  font-size:16px;
  font-family: Agrandir, "Helvetica Neue", sans-serif;
  background-color: rgb(166, 200, 235,.2);
}

* {
  letter-spacing: .03em;
  -webkit-font-smoothing : antialiased;
}

a {
  text-decoration:none;
  color:black;
}


@font-face {
  font-family: "Agrandir";
  src: url("../public/fonts/Agrandir/Agrandir-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Agrandir Grand Heavy";
  src: url("../public/fonts/Agrandir/Agrandir-GrandHeavy.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:'Streewear';
  src: url("../public/fonts/Streetwear/Streetwear.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Streewear";
}   

h1 {
  font-size: clamp(2.5rem, 1.94vw + 1.92rem, 4.25rem);
  line-height:150%;
}

h2 {
  font-size: clamp(1.75rem, 1.39vw + 1.33rem, 3rem);
}

.page-section {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:80px;
  text-align: center;
  margin:0 auto;
  max-width:1400px;
  padding:0 16px;
}

.titles-container {
  h2 {
    line-height:120%;
  }
  p {
    font-size:18px;
    letter-spacing: 0.03em;
    margin:0;
  }
}