<header class="navbar">
  <img class='logo' src="assets/logo.png" alt="Logo Agape Dance School">

  <input type="checkbox" id="menu">

  <label for="menu" class="hamburger">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </label>

  <nav>
    <label for="menu" class="close">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </label>
    <a href="">Nos cours</a>
    <a href="">Nos collaborations</a>
    <a href="">Témoignages</a>
    <a href="">Nos valeurs</a>
    <app-button [variant]="'primary'" [size]="'md'">Réserver mon cours</app-button>
  </nav>
</header>